* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia;
  font-size: 14px;
  background-color: antiquewhite;
}

header {
  border-bottom: 1px #ccc solid;
  background: salmon;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: antiquewhite;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 26px; 
  box-shadow: 35px 35px 68px 0px rgba(247, 220, 189, 0.5), inset -8px -8px 16px 0px rgba(247, 220, 189, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}


.app {
  margin: 0 auto;
  max-width: 1200px;
}

main {
  padding: 0 1rem;
}

.new-clothes-form {
  padding: 1rem 1rem;
  margin: 2rem 0;
  background-color: antiquewhite;
}

.new-clothes-form form {
  display: flex;
  justify-content: center;
}

.new-clothes-form input {
  margin-right: 1.5rem;
  flex: 1;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 26px; 
  box-shadow: 35px 35px 68px 0px rgba(247, 220, 189, 0.5), inset -8px -8px 16px 0px rgba(247, 220, 189, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.new-clothes-form button {
  width: 170px;
  font-size: medium;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 26px; 
  box-shadow: 35px 35px 68px 0px rgba(247, 220, 189, 0.5), inset -8px -8px 16px 0px rgba(247, 220, 189, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid salmon;
}

.random-button {
  padding: 0.45rem;
  margin-bottom: 1rem;
}

.plan-outfit {
  padding: 0.45rem;
  margin-bottom: 1rem;
}

.cards {
  list-style: none;
  border-bottom: 2px solid salmon;
  border-top: 2px solid salmon;
}

.card {
  margin: 1rem;
  display: grid;
  width: 100%;
  place-items: center;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 26px; 
  box-shadow: 35px 35px 68px 0px rgba(247, 220, 189, 0.5), inset -8px -8px 16px 0px rgba(247, 220, 189, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.card img {
  max-width: 300px;
  max-height: 270px;
  width: 75%;
  height: auto;
}

.card p {
  padding: 0.5rem;
  font-family: serif;
  font-size: 1rem;
  text-align: center;
}

.card h3 {
  padding: 0.5rem;
  font-family: serif;
  font-size: 1rem;
  text-align: center;
}

.delete-button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

